{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">

    
    <link href="{% static 'main.css'%}" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'AJAX.js' %}"></script>
    
    {% if title %}
        <title>EzSeek - {{ title }}</title>
    {% else %}
	<title>EzSeek</title>
    {% endif %}
</head>
<body>
    <!-- Navbar -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'ezseek-home' %}">EzSeek</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'ezseek-home' %}">Home</a>
             
              <a class="nav-item nav-link" href="{% url 'jobs' %}">Find jobs</a>
              <a class="nav-item nav-link" href="{% url 'companies' %}">Companies</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              {% ifequal user.first_name "i" %}
              <a class="nav-item nav-link" href="{% url 'myApplication' user.username %}">My Applications</a>
              {% endifequal %}
              {% endif %}

              {% if user.is_authenticated %}
              {% ifequal user.first_name "c" %}
              <a class="nav-item nav-link" href="{% url 'postJob' %}">Post job</a>
              <a class="nav-item nav-link" href="{% url 'myJob' user.username   %}">My job</a>
              {% endifequal %}
              {% endif %} 
    
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else%}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Signup</a>
              {% endif%}
            </div>
          </div>
        </div>
      </nav>
    </header>
   {% block content1 %}{% endblock %}
    <main role="main" class="container">
      <div class="row">
        <div class="col">
	  {% if messages %}
              {% for message in messages%}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
              {% endfor %} 
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>


    <footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy;Sean Rho 2019</p>
    </div>
    <!-- /.container -->
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>


