{% extends "base.html" %}
{% block content %}
  <h1 class="mb-3">Job Detail</h1>
    <div>
     <div class="media border p-3 mb-2">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
       <div class="card h-100 w-100 border-0">
        <div class="article-metadata">
         <h2 class="card-title">
          {{ object.title }}
         </h2>
          <a class="mr-2" href="{% url 'companyDetail' object.author.company.id %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

    <div id="apply-section">
       {% include 'applyButton.html'%}
    </div>

        {% if object.author == user %}
          <div>
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'myApplicant' object.id %}">View Applicants</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'jobUpdate' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'myJobDelete' object.id %}">Delete</a>
          </div>
        {% endif %}
        </div>
         <p class="article-content"><b class="font-weight-bold">Location:</b>{{ object.author.company.location }}
         <b class="font-weight-bold">Industry:</b>{{ object.author.company.industry }}</p>
         <p class="article-content">{{ object.content }}</p>
         <a class="mr-2" href="{% url 'userJob' object.author.company.user.username %}"> More jobs from this company </a>
       </div>
     </div>
    </div>
{% endblock content %}

