{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3">Applicant Detail </h1>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ object.user.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
          <h2 class="account-heading">{{ object.user.username }}</h2>
          </div>
          <p class="article-content"><b class="font-weight-bold">Email: </b>{{ object.user.email }}</p>
          <p class="article-content"><b class="font-weight-bold">Name: </b>{{ object.name }}</p>
          <p class="article-content"><b class="font-weight-bold">Phone: </b>{{ object.phone_no }}</p>
          <p class="article-content"><b class="font-weight-bold">Location: </b>{{ object.location  }}</p>
          <p class="article-content"><b class="font-weight-bold">Qulification: </b>{{ object.qualification  }}</p>
          <p class="article-content"><b class="font-weight-bold">Profession: </b>{{ object.profession  }}</p>
          <p class="article-content"><b class="font-weight-bold">Bio: </b>{{ object.bio  }}</p>        
        </div>
      </div>
{% endblock content %}


